
.homepage-carousel {
  position: relative;
  h3{
    position: absolute;
    top: 0px;
    left: 15px;
    padding: 8px 20px;
    background-color: $black;
    color: $white;
    text-transform: uppercase;
    z-index: 3;
    font-size: 1.2rem;
  }
  .chevron {
    background-color: $red;
    width: 30px !important;
    position: absolute;
    height: 37px;
    top: unset;
    bottom: 10px;
    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: white;
      font-size: 2.2rem;
      margin-top: -8px;
      outline: none;
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  .chevron_left {
    left: unset;
    right:33px !important;
  }
  .chevron_right {
    right: 0px !important;
  }
  .img-wrapper {
    height: 500px;
  }
  .wrapper {
    width:100%;
    margin: 0 auto;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    .itemsInnerWrapper {
      transform: unset !important;
    }
  }
}
.homepage-boxes{
  .img-wrapper{
    height: 250px;
    .text-wrapper{
      height: 96px;
    }
  }
}
@media (max-width: 576.98px) {
.homepage-carousel {
  position: relative;
  padding-bottom: 40px;

  .chevron {
    position: absolute;
    height: 37px;
    bottom: -25px;
  }
  .chevron_left {
    left: 44%;
    transform: translate(-50%, 0);
  }
  .chevron_right {
    left: 56%;
    transform: translate(-50%, 0);
  }
  .img-wrapper {
    height: 300px;
  }

}
}
