.footer {
  .top-line {
    width: 100%;
    height: 20px;
  }
  .copyright-col {
    .logo {
      img {
        width: 100%;
      }
    }
    
  }
  h5 {
    font-family: 'pt sans narrow', sans-serif;
  }
  ul li a, ul li button {
    color: #666;
    font-size: 1rem;
  }
  ul li button {
    background-color: transparent;
    border: none;
    &:focus{
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  .mail-link {
    margin-top: auto;
    position: absolute;
    bottom: 15px;
    color: #666;
    font-size: 0.9em;
  }
}
.marketing {
  margin-top: 54px;
  height: calc(100vh - 352px);
  .header {
    h2 {
      text-transform: uppercase;
      font-size: 2.3rem;
      width: fit-content;
      text-transform: uppercase;
      font-weight: 700;
      font-family: 'pt sans narrow', sans-serif;
    }
    &::before,
    &::after {
      width: 40%;
      height: 1.2px;
      background: #ebebeb;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &::after {
      right: 0;
    }
    &::before {
      left: 0;
    }
  }
  a {
    p {
      margin-top: 10px;
      color: $black;
      &:hover {
        color: $blue;
      }
    }
  }
}
.kontact-modal {
  h3 {
    font-size: 1.1rem;
    font-family: 'PT Sans narrow', sans-serif;
  }
  .close{
   span{
    font-size: 1.5rem;
   }
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    height: 600px;
    
    .form-wrapper {
      background-color: #fafafa;
      padding: 40px 50px;
      width: 90%;
      height: 90%;
      border: 1px solid $black;
      margin: 0px auto;
      h2 {
        font-size: 1.5rem;
        font-family: 'PT Sans narrow', sans-serif;
      }
      span {
        font-size: 1rem;
      }
      button {
        color: $white;
        background-color: #353a40;
        &:hover {
          background-color: #23272b;
        }
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
         box-shadow 0.15s ease-in-out;
      }
    }
  }
}
.impresum{
  .links {
    p{font-size: 1rem;
    color: black;
    font-weight: bold;
    a{
      color: black;
      &:hover{
        color: $blue;
      }
    }
    }
  }
}

@media (max-width: 920.98px) {
  .marketing {
    .header {
      &::after,
      &::before {
        width: 36%;
      }
    }
  }
}
@media (max-width: 768.98px) {
  .footer {
    .logo{
      width: 200px;
      height: auto;
    }
    .mail-link {
      bottom: -3px;
    }
  }
  .marketing {
    height: auto;
    .header {
      &::after,
      &::before {
        width: 34%;
      }
    }
  }
}

@media (max-width: 576.98px) {
  .marketing {
    .header {
      margin-top: 30px;
      &::after,
      &::before {
        width: 0px;
        height: 0px;
      }
    }
  }
  .kontact-modal{
    padding-right: 0px;
    .modal-content{
      .form-wrapper {
        width: 95%;

        padding: 40px 10px;
      }
    }
    
  }
  .footer {
    .mail-link {
      position: unset;
    }
  }
}
