.home-page {
  margin-top: 60px;
  .container_1 {
    h2 {
      margin-bottom: 0px;
    }
    .big-cont {
      height: 500px;
      .box {
        height: 50%;
      }
    }
    .small-cont {
      height: 250px;
      .box {
        height: 100%;
      }
    }
  }
}

.container_3 {
  .small-padding {
    padding: 0 16.5px !important;
  }
}

@media (max-width: 992.98px) {
  .home-page {
    margin-top: 60px;
    .container_3 {
      .big-cont {
        height: 240px;
      }
    }
  }
}
@media (max-width: 576.98px) {
  .home-page {
    margin-top: 80px;
    .big-cont {
      width: 100%;
    }
    .container_1 .big-cont {
      height: 240px;
    }

    .container_3 {
      .cluster {
        height: 200px;
    
        .mediumi{
          flex-wrap: wrap;
        }
      }
    }
  }
}
