.facebook-icon {

    background-image: url('../icons/facebook.svg');
  }
  .facebook-blue-icon {
    background-image: url('../icons/facebook-blue.svg');
  }
  .facebook-white-icon {
    background-image: url('../icons/facebook-white.svg');
  }
  .facebook-gray-icon {
    background-image: url('../icons/facebook-gray.svg');
  }
  .twitter-icon {
    background-image: url('../icons/twitter.svg');
  }
  .twitter-blue-icon {
    background-image: url('../icons/twitter-blue.svg');
  }
  .twitter-gray-icon {
    background-image: url('../icons/twitter-gray.svg');
  }
  .twitter-white-icon {
    background-image: url('../icons/twitter-white.svg');
  }
  .youtube-gray-icon {
    background-image: url('../icons/youtube-gray.svg');
  }
  .loupe-icon {
    background-image: url('../icons/loupe.svg');
  }
  .loupe-red-icon {
    background-image: url('../icons/loupe-red.svg');
  }
  .badge-icon {
    background-image: url('../icons/badge.svg');
  }
  .clock-icon {
    background-image: url('../icons/wall-clock.svg');
  }
  .wifi-white-icon {
    background-image: url('../icons/wifi-white.svg');
  }
  .left-arrow-icon {
    background-image: url('../icons/left-arrow.svg');
  }
  .right-arrow-icon {
    background-image: url('../icons/left-arrow.svg');
    transform: rotate(180deg);
  }
  .instagram-white-icon {
    background-image: url('../icons/instagram-white.svg');
  }
  