.menu {
  position: fixed;
  background-color: $white;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0px);
   .main-logo{
    width: 130px;
    height: 53px;
    margin-top: -2px;
    background-color: $white;
   }
  z-index: 999;
  .big-container{
    max-width: 100%;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
        align-items: center;
        height: 53px;
    padding-left: 0px;
    li {
      a{
        font-family: "pt sans",sans-serif;
        color: black;
        text-transform: uppercase;
        font-size: 1.1rem;
      }
    }
  }
  .view-mobile-x{
    height: 230px!important;
    padding-top: 84px;
    overflow-y: scroll;
  }
 
 
  .sandwich {
    width: 40px;
    height: 34px;
    @include display-flex(none, column,space-around, center);
    padding: 5px;
    .line {

     width: 100%;
     height: 3px;
     background-color: $black;
      margin-bottom: 1px;
    }
  }
  .menu-titles {
   
    a{
      border: none;
    }
  }
}
// @media (min-width: 1580.98px) {
//   .big-container{
//     max-width: 1320px;
//     margin: 0 auto;
  
//   }
// }
// @media (min-width: 1480.98px) {
//   .menu{

//     .big-container{
//           max-width: 1320px;
//           margin: 0 auto;
        
//         }
   
//     .menu-titles {
//       margin: 0px;
//       margin-left: 1.5px;
//     }
//   }

// }

// @media (max-width: 1479.98px) {
//   .menu ul a{
//     font-size: 1.2rem;
    
//   }
// }
// @media (max-width: 1381.98px) {
//   .menu{
//     a{font-size: 1.2rem;}
//   }
//   .menu_ ul a{
 
   
//   }
// }
// @media (max-width: 1343.98px) {
//   .menu ul a{
//     font-size: 1.2rem;
//   }
// }
// @media (max-width: 1280.98px) {
//   .menu ul li{
//     a{font-size: 1.1rem;}
//   }
//   .menu ul li a{
//     font-size: 1.1rem;
//   }
// }
// @media (max-width: 1240.98px) {

//    .menu ul li{
//     a{font-size: 1.1rem;}

//   }
// }
// @media (max-width: 1200.98px) {
//   .menu ul li{
//     a{font-size: 1.2rem;}
   
//   }
// }
// @media (max-width: 1160.98px) {
//  .menu ul li{
//     a{font-size: 1.2rem;}
//   }
// }
// @media (max-width: 1130.98px) {
//   .menu ul li{
//     a{font-size: 1.2rem;}
//   }
// }
// @media (max-width: 1100.98px) {
//  .menu ul li{
//     a{font-size: 1.23rem;}
//   }
// }
// @media (max-width: 1080.98px) {
//  .menu ul li{
//     a{font-size: 1.2rem;}
//   }
// }
// @media (max-width: 1050.98px) {
//  .menu ul li{
//     a{font-size: 1.18rem;}
//   }
// }
// @media (max-width: 1030.98px) {
//   .menu ul li{
//     a{font-size: 1.13rem;}
//   }
// }


// @media (max-width: 992.98px) {
//   .menu {
//     .menu-titles{
//       padding: 0px;
//        .main-logo{
//         height: 53px;
//         width:200px;
//        }
//     }
//     ul {
//       display: -webkit-box;
//       display: -ms-flexbox;
//       display: flex;
//       -webkit-box-orient: vertical;
//       -webkit-box-direction: normal;
//           -ms-flex-direction: column;
//               flex-direction: column;
//       -webkit-box-align:flex-start;
//           -ms-flex-align: flex-start;
//               align-items: flex-start;
//       margin: 0px;
//       height: 0px;
//       display: none;
//     }
//     .show-ul {
//       display: -webkit-box;
//       display: -ms-flexbox;
//       display: flex;
//       height: inherit;
//       -webkit-transition: height 1s;
//       -o-transition: height 1s;
//       transition: height 1s;
//       padding-left: 20px;
//       .sandwich{
//         border: 1px solid $white;
//       }
//     }
  

//     .sandwich {
//       display: -webkit-box;
//       display: -ms-flexbox;
//       display: flex;
//     }
//   }
// }

@media (max-width: 576.98px) {
  .menu {
    position: fixed;
    background-color: $white;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 999;
    border-bottom: 1px solid $gray--200;
    .big-container{
      max-width: 100%;
    }
    ul{
      display: none;
    }
    .show-ul {
     display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      z-index: 999;
      width: 100%;
      height: auto;
      top: 51px;
      left: 0;
      background-color: white;
    
      li{
        width: 100%;

      }
      li:not(:last-child){
        border-bottom: 1px solid $gray--200;
      }
      li:last-child{
        width: 0px;
        padding: 0px;
        .loupe-icon{
          display: none;
        }
      }
    }
    .view-mobile-x{
      height: 230px!important;
      padding-top: 84px;
      overflow-y: scroll;
    }
   
    .sandwich {
      display: flex;
     
    }
    .menu-titles {
     
      a{
        border: none;
      }
    }
  }
}


