.category {
  margin-top: 153px;

  .header {
    @include display-flex(flex, row, start, center);
    margin-left: 30px;
    margin-bottom: 10px;
    h2 {
      text-transform: uppercase;
      font-size: 1.9rem;
      width: fit-content;
      text-transform: uppercase;
      font-weight: 700;
      font-family: 'pt sans narrow', sans-serif;
      padding-left: 10px;
      margin-bottom: 0px;
      border-left: 30px solid $red;
    }
  }

  .cluster {
    height: 200px;
  }

  .js-pager__items {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $red;
    list-style-type: none;
    padding-left: 0px;
    li,
    a,
    button {
      height: 50px;
    }
    .btn-arrow {
      font-size: 2.4rem;
      background-color: transparent;
      color: $white;
      border: none;
      margin-top: -7px;
    }
    .visually-hidden {
      position: absolute!important;
      overflow: hidden;
      clip: rect(1px,1px,1px,1px);
      width: 1px;
      height: 1px;
      word-wrap: normal;
  }
  }
  // .visually-hidden {
  //     position: absolute!important;
  //     overflow: hidden;
  //     clip: rect(1px,1px,1px,1px);
  //     width: 1px;
  //     height: 1px;
  //     word-wrap: normal;
  // }
}

@media (max-width: 576.98px) {
  .category {
    margin-top: 65px;
  }
}
